div.imgcss {
   width: 100px;
   height: 100px;
   /*inline和inline-block都可设置为行内元素
   inline-book额外允许设置高度和宽度，inline则不行*/
   display: inline-block; 
   border: 1px solid #ddd;
   border-radius: 5px;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
   /*隐藏溢出容器的部分(div是圆角，图片非)*/
   overflow: hidden;
}

div.imgcss img { 
    width: 100%; 
    height: 100%;
    /*控制替换元素（如 <img> 或 <video>）的内容如何适应其容器。
    cover 确保元素的内容填满容器，同时保持内容的纵横比，可能会裁剪部分内容以避免失真。*/
    object-fit: cover;
    /*设置元素的显示类型为块级元素。
    块级元素会在页面上独占一行，宽度自动扩展到容器的全宽，高度根据内容自适应。*/
    display: block;
    /*一个不起眼的点击动画*/
    transition: transform 0.3s ease;
}

div.imgcss:hover img {
    transform: scale(1.05);
}

div.txtcss {
   display: inline;
}